
<!--start of the home.erb-->
  <h1>Hello World</h1>
  <p>My secret number is <%= @secret_number %>.</p>

  <ul>
  <% @class.each do |person| %>
    <li><%= person %></li>
  <% end %>
  </ul>
<!--end of the home.erb-->